---
layout: base.njk
---
{% import "_macros/insert.njk" as insert %}



<style>


body {
	background-color: #9b59b6;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
}

.container {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	width: 400px;
	max-width: 100%;
}

.header {
	border-bottom: 1px solid #f0f0f0;
	background-color: #f7f7f7;
	padding: 20px 40px;
}

.header h2 {
	margin: 0;
}

.form {
	padding: 30px 40px;	
}

.form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-control label {
	display: inline-block;
	margin-bottom: 5px;
}

.form-control input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

.form-control input:focus {
	outline: 0;
	border-color: #777;
}

.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
}

.form-control i {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}

.form-control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}

.form-control small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}

.form button {
	background-color: #8e44ad;
	border: 2px solid #8e44ad;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
}









/* SOCIAL PANEL CSS */
.social-panel-container {
	position: fixed;
	right: 0;
	bottom: 80px;
	transform: translateX(100%);
	transition: transform 0.4s ease-in-out;
}

.social-panel-container.visible {
	transform: translateX(-10px);
}

.social-panel {	
	background-color: #fff;
	border-radius: 16px;
	box-shadow: 0 16px 31px -17px rgba(0,31,97,0.6);
	border: 5px solid #001F61;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Muli';
	position: relative;
	height: 169px;	
	width: 370px;
	max-width: calc(100% - 10px);
}

.social-panel button.close-btn {
	border: 0;
	color: #97A5CE;
	cursor: pointer;
	font-size: 20px;
	position: absolute;
	top: 5px;
	right: 5px;
}

.social-panel button.close-btn:focus {
	outline: none;
}

.social-panel p {
	background-color: #001F61;
	border-radius: 0 0 10px 10px;
	color: #fff;
	font-size: 14px;
	line-height: 18px;
	padding: 2px 17px 6px;
	position: absolute;
	top: 0;
	left: 50%;
	margin: 0;
	transform: translateX(-50%);
	text-align: center;
	width: 235px;
}

.social-panel p i {
	margin: 0 5px;
}

.social-panel p a {
	color: #FF7500;
	text-decoration: none;
}

.social-panel h4 {
	margin: 20px 0;
	color: #97A5CE;	
	font-family: 'Muli';	
	font-size: 14px;	
	line-height: 18px;
	text-transform: uppercase;
}

.social-panel ul {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.social-panel ul li {
	margin: 0 10px;
}

.social-panel ul li a {
	border: 1px solid #DCE1F2;
	border-radius: 50%;
	color: #001F61;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	text-decoration: none;
}

.social-panel ul li a:hover {
	border-color: #FF6A00;
	box-shadow: 0 9px 12px -9px #FF6A00;
}

.floating-btn {
	border-radius: 26.5px;
	background-color: #001F61;
	border: 1px solid #001F61;
	box-shadow: 0 16px 22px -17px #03153B;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	line-height: 20px;
	padding: 12px 20px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
}

.floating-btn:hover {
	background-color: #ffffff;
	color: #001F61;
}

.floating-btn:focus {
	outline: none;
}

.floating-text {
	background-color: #001F61;
	border-radius: 10px 10px 0 0;
	color: #fff;
	font-family: 'Muli';
	padding: 7px 15px;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	z-index: 998;
}

.floating-text a {
	color: #FF7500;
	text-decoration: none;
}

@media screen and (max-width: 480px) {

	.social-panel-container.visible {
		transform: translateX(0px);
	}
	
	.floating-btn {
		right: 10px;
	}
}


</style>


<div class="container mt-64">
	<div class="header">
		<h2>Create Account</h2>
	</div>
  
	<form id="form" class="form" name="contact" method="POST" data-netlify="true" data-netlify-honeypot="bot-field">
		<input type="hidden" name="form-name" value="contact" />
		<div class="honeypot-field" style="display:none">
			<label for="bot-field">No llenar esto si eres humano</label>
			<input name="bot-field" />
		</div>
		<div class="form-control">
			<label for="username">Username</label>
			<input type="text" placeholder="florinpop17" id="username" />
			<i class="fas fa-check-circle"></i>
			<i class="fas fa-exclamation-circle"></i>
			<small>Error message</small>
		</div>
		<div class="form-control">
			<label for="username">Email</label>
			<input type="email" placeholder="a@florin-pop.com" id="email" />
			<i class="fas fa-check-circle"></i>
			<i class="fas fa-exclamation-circle"></i>
			<small>Error message</small>
		</div>
		<div class="form-control">
			<label for="username">Password</label>
			<input type="password" placeholder="Password" id="password"/>
			<i class="fas fa-check-circle"></i>
			<i class="fas fa-exclamation-circle"></i>
			<small>Error message</small>
		</div>
		<div class="form-control">
			<label for="username">Password check</label>
			<input type="password" placeholder="Password two" id="password2"/>
			<i class="fas fa-check-circle"></i>
			<i class="fas fa-exclamation-circle"></i>
			<small>Error message</small>
		</div>
		<button>Submit</button>
	</form>
</div>



<section class="height-xl  mt-64  ">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 fluid-3-b  ">
        <div class="animate-word" data-delay="2"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero cumque in numquam alias rem voluptas consequuntur provident fugiat maxime a placeat sequi ad, voluptatibus quidem </div>
      </div>


      <div class="animate-letters fluid-1-r" data-delay="0.5">Hola Mundo
      </div>
    </div>
  </div>
</section>
<section class="height-xl align-center ">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 animate-appear" data-delay="5"> Lorem ipsum dolor sit. </div>
    </div>
  </div>
</section>
<section class="height-xl align-center ">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 animate-appear" data-delay="5"> lorem66 </div>
    </div>
  </div>
</section>
<div class="animate-word" data-delay="1">
  <p>Texto que se animará palabra por palabra</p>
</div>
<div class="section ptr-120">
  <div class="container-5 text-center">
    <div class="row align-center">
      <div class="grid-3 pt-24 pb-64">
        <div class="text-v text-18-r script "><img src="/assets/static/images/rating-1.webp" alt=""> En 20 minutos
          estaba
          facturando</div>
        <div class="text-v  text-18-r  script "><img src="/assets/static/images/rating-1.webp" alt=""> Tenia muchos
          seguidores
          pero nada</div>
        <div class="text-v   text-18-r script  "> <img src="/assets/static/images/rating-1.webp" alt=""> El
          acompañamietno es
          increible</div>
      </div>
    </div>
    <div class="row inview">
      <div class="col-xs-12">
        <div class="fluid-5-b mb-24"> {% call insert.splitenpalabras('¿Estás listo para convertir tu tráfico en
          **ganancias?') %} {% endcall %}
        </div>
        <div class="fluid-9-r mb-24">
          ¿Estás buscando aumentar la tasa de conversión de tu sitio web de comercio electrónico? ¿No tienes tiempo para
          descubrir las tácticas por ti mismo? Si es así, podemos ayudarte. Nuestra lista de verificación de comercio
          electrónico creada con Notion + Google Sheets es una gran herramienta para simplificar tu vida. Contiene todas
          las
          tácticas que deberías utilizar para aumentar tus ingresos. ¡Pruébalo, es gratis!
        </div>
        <div class="btn btn-primary mb-24"> Obtén la lista de verificación ahora</div>
        <p class="p1 c-gray mb-24"> 14 días de garantía de devolución | Sin Permanencia
        </p>
        <div class="is-flex content-center align-middle mb-64
        ">
          <div> Excelente</div>
          <div> <img class="w-100" src="/assets/static/images/start.webp" alt=""> </div>
        </div>
      </div>
    </div>
    <div class="row align-center">
      <div class="sm:grid-3 pt-24 pb-64">
        <div class="text bullet pb-24">No requiere experiencia previa</div>
        <div class="text bullet pb-24">Formación actualizada</div>
        <div class="text bullet pb-24">Soporte 100% en Español</div>
      </div>
    </div>
  </div>
  <div class="container-5 pbr-120 animate-box">
    <div class="row">
      <div class="col-xs-12">
        <div class="rat-16-9 z-20 border-20">
          <div class="rat-content">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/oTahLEX3NXo?si=URndy4ywWg355K6G"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container pbr-120 inview">
    <div class="row sm:reverse">
      <div class="col-xs-12 col-sm-6 mdmax:mb-40">
        <h3 class="fluid-5-b mb-32">
          {% call insert.splitenpalabras('Di adiós a las malas experiencias para obtener **resultados **excepcionales')
          %} {% endcall %}
        </h3>
        <ul class="list-bullet pb-24 animate-list" data-delay="4">
          <li>Sistema de Notion bien organizado + lista de Google Sheets</li>
          <li>Ruta personalizada</li>
          <li>Recomendaciones de comercio electrónico que no encontrarás en ningún otro lugar</li>
          <li>Consejos rápidos para mejorar la calidad de la tarea</li>
          <li>Actualizaciones de por vida</li>
        </ul>
        <a href="" class="link4"> Consíguelo ahora</a>
      </div>
      <div class="col-xs-12 col-sm-6 mdmax:mb-40">
        <img class="w-100" src="/assets/static/images/checklist.webp" alt="">
      </div>
    </div>
  </div>
  <div class="container pbr-120 inview">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <img class="w-100" src="/" alt="">
      </div>
      <div class="col-xs-12 col-sm-6">
        <h3 class="fluid-5-b mb-32">
          <h3 class="fluid-5-b mb-32">
            {% call insert.splitenpalabras('Aumente su **tasa **de **conversión de clientes potenciales') %} {% endcall
            %}
          </h3>
        </h3>
        <ul class="list-bullet pb-24">
          <li>Más de 15 páginas importantes</li>
          <li>Más de 400 tareas</li>
          <li>Más de 550 ejemplos</li>
          <li>Calculadora de prioridades</li>
        </ul>
        <a href="" class="link4"> Empieza a optimizar ahora</a>
      </div>
    </div>
  </div>
  <div class="container-5 text-center ptr-120 pbr-120 inview">
    <div class="row mb-64">
      <div class="col-xs-12">
        <div class="fluid-5-b mb-24">
          {% call insert.splitenpalabras('Algunos ejemplos de **nuestras **páginas') %} {% endcall %}
        </div>
        <div class="fluid-9-r mb-24">
          Realizadas con el constructor de Generator Landing
        </div>
      </div>
    </div>
    <div class="row mb-64">
      <div class="col-xs-4">
        <div class="mb-24">
          <img class="w-100" src="/assets/static/images/12.webp" alt="">
        </div>
        <div class="h3 mb-16">Productos Físicos</div>
      </div>
      <div class="col-xs-4">
        <div class="mb-24"> <img class="w-100" src="/assets/static/images/11.webp" alt=""></div>
        <div class="h3 mb-16">Productos Digitales</div>
      </div>
      <div class="col-xs-4">
        <div class="mb-24"> <img class="w-100" src="/assets/static/images/10.webp" alt=""></div>
        <div class="h3 mb-16">Oficios Físicos</div>
      </div>
    </div>
  </div>
  <div class="container-5 text-center pbr-120">
    <div class="row mb-64">
      <div class="col-xs-12">
        <div class="fluid-5-b mb-24">
          ¿Todavia tienes dudas?
        </div>
        <div class="fluid-9-r mb-24">
          A continuación, te resolveremos algunas de las posibles preguntas que te puedan surgir antes de suscribirte a
          Generator Landing
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="accordion-wrap accordion-faqs">
          <div class="accordion">
            <div class="accordion-inner ">
              <div class="accordion-header is-flex">
                <div class="list-circle">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <title>down-arrow</title>
                    <g stroke-linecap="square" stroke-linejoin="miter" stroke-width="2" fill="none" stroke="#212121"
                      stroke-miterlimit="10">
                      <polyline points="2,7 12,17 22,7 " transform="translate(0, 0)"></polyline>
                    </g>
                  </svg>
                </div>
                <div class="fluid-8-r"> ¿Dónde coloco el código QR en el restaurante?</div>
              </div>
              <div class="accordion-content">
                <div class="text-14-r mt-16">
                  Imprime el código QR vectorizado, y haz tantas copias como necesites. Colócalo en mesas, paredes,
                  manteles de papel.
                </div>
              </div>
            </div>
          </div>
          <div class="accordion">
            <div class="accordion-inner p-16">
              <div class="accordion-header is-flex">
                <div class="list-circle">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <title>down-arrow</title>
                    <g stroke-linecap="square" stroke-linejoin="miter" stroke-width="2" fill="none" stroke="#212121"
                      stroke-miterlimit="10">
                      <polyline points="2,7 12,17 22,7 " transform="translate(0, 0)"></polyline>
                    </g>
                  </svg>
                </div>
                <div class="fluid-8-r"> ¿Es necesario instalar una App?</div>
              </div>
              <div class="accordion-content">
                <div class="text-14-r mt-16">
                  No, no queremos poner ninguna barrera a los clientes que lleguen a tu restaurante. Pensamos que es
                  importante no tener que descargar nada cuando quieran ver el menú o la carta digital del restaurante
                  rápidamente.
                </div>
              </div>
            </div>
          </div>
          <div class="accordion">
            <div class="accordion-inner p-16">
              <div class="accordion-header is-flex">
                <div class="list-circle">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <title>down-arrow</title>
                    <g stroke-linecap="square" stroke-linejoin="miter" stroke-width="2" fill="none" stroke="#212121"
                      stroke-miterlimit="10">
                      <polyline points="2,7 12,17 22,7 " transform="translate(0, 0)"></polyline>
                    </g>
                  </svg>
                </div>
                <div class="fluid-8-r"> ¿Necesito tener página web?</div>
              </div>
              <div class="accordion-content">
                <div class="text-14-r mt-16">
                  No, nuestra carta digital es independiente. No necesitas ningún tipo de web, nosotros proporcionamos
                  todo el sistema.
                </div>
              </div>
            </div>
          </div>
          <div class="accordion">
            <div class="accordion-inner p-16">
              <div class="accordion-header is-flex">
                <div class="list-circle">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <title>down-arrow</title>
                    <g stroke-linecap="square" stroke-linejoin="miter" stroke-width="2" fill="none" stroke="#212121"
                      stroke-miterlimit="10">
                      <polyline points="2,7 12,17 22,7 " transform="translate(0, 0)"></polyline>
                    </g>
                  </svg>
                </div>
                <div class="fluid-8-r">¿Cuánto cuesta este servicio?
                </div>
              </div>
              <div class="accordion-content">
                <div class="text-14-r mt-16">
                  Tu eliges, si quieres pagar cada mes por sólo 14,90€ al mes, o aprovechando la promoción , contratar
                  de forma anual por 149,90€ llevándote dos meses gratis .
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mb-64 inview">
    <div class="box-image bg-light  p-32">
      <div class="row sm:reverse">
        <div class="col-xs-12 col-sm-6 text-left"><img class="w-100" src="/assets/static/images/robot.webp" alt="">
        </div>
        <div class="col-xs-12 col-sm-6">
          <h3 class="fluid-7-b mb-32">
            {% call insert.splitenpalabras('¿Todavía no has visto nuestro entrenamiento para conseguir 1 cliente al día
            usando nuestro **blog **y **la **Inteligencia **Artificial?') %} {% endcall %}
          </h3>
          <div class="btn btn-primary">Ver entrenamiento</div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mb-64 inview">
    <div class="box-image bg-dark p-32">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <p class="p1">Empieza Ahora</p>
          <h3 class="fluid-7-b mb-32">
            {% call insert.splitenpalabras('Convierte conversaciones en ventas: Inicia hoy mismo tu estrategia de
            **WhatsApp **Marketing y **potencia **tu **negocio.') %} {% endcall %}
          </h3>
          <div class="btn btn-secondary">Unirme ahora</div>
        </div>
        <div class="col-xs-12 col-sm-6  p-relative"> <img src="/assets/static/images/personia.webp" alt=""> </div>
      </div>
    </div>
  </div>
  <div class="container-3 pbr-120 inview">
    <div class="row text-center mb-24">
      <div class="col-xs-12">
        <h3 class="fluid-5-b mb-32">
          {% call insert.splitenpalabras('No pierdas tiempo intentando descubrir las estrategias, las hemos
          **seleccionado **para **ti') %} {% endcall %}
        </h3>
      </div>
      <div class="row text-center pbr-120">
        <div class="col-xs-1 col-sm-3">
        </div>
        <div class="col-xs-10 col-sm-6"> <img class="border-20 mb-64" width="100%" height="auto"
            src="/assets/static/images/libro.webp" alt=""></div>
        <div class="col-xs-1 col-sm-3">
        </div>
        <div class="col-xs-12">
          <p class="p1 mb-24">Después de más de 20 años probando estrategias, hemos reunido todos los secretos del
            comercio
            electrónico.
            Con esta lista de verificación, no solo cumplirás con los requisitos de experiencia de usuario, sino que
            también
            harás que tu sitio de comercio electrónico sea rentable de manera rápida.
          </p>
          <button class="btn btn-primary"> Descarga nuestro pdf de Seo avanzado</button>
        </div>
      </div>
    </div>
  </div>




  <script>

const form = document.getElementById('form');
const username = document.getElementById('username');
const email = document.getElementById('email');
const password = document.getElementById('password');
const password2 = document.getElementById('password2');

form.addEventListener('submit', e => {
	e.preventDefault();
	
	checkInputs();
});

function checkInputs() {
	// trim to remove the whitespaces
	const usernameValue = username.value.trim();
	const emailValue = email.value.trim();
	const passwordValue = password.value.trim();
	const password2Value = password2.value.trim();
	
	if(usernameValue === '') {
		setErrorFor(username, 'Username cannot be blank');
	} else {
		setSuccessFor(username);
	}
	
	if(emailValue === '') {
		setErrorFor(email, 'Email cannot be blank');
	} else if (!isEmail(emailValue)) {
		setErrorFor(email, 'Not a valid email');
	} else {
		setSuccessFor(email);
	}
	
	if(passwordValue === '') {
		setErrorFor(password, 'Password cannot be blank');
	} else {
		setSuccessFor(password);
	}
	
	if(password2Value === '') {
		setErrorFor(password2, 'Password2 cannot be blank');
	} else if(passwordValue !== password2Value) {
		setErrorFor(password2, 'Passwords does not match');
	} else{
		setSuccessFor(password2);
	}
}

function setErrorFor(input, message) {
	const formControl = input.parentElement;
	const small = formControl.querySelector('small');
	formControl.className = 'form-control error';
	small.innerText = message;
}

function setSuccessFor(input) {
	const formControl = input.parentElement;
	formControl.className = 'form-control success';
}
	
function isEmail(email) {
	return /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(email);
}













// SOCIAL PANEL JS
const floating_btn = document.querySelector('.floating-btn');
const close_btn = document.querySelector('.close-btn');
const social_panel_container = document.querySelector('.social-panel-container');

floating_btn.addEventListener('click', () => {
	social_panel_container.classList.toggle('visible')
});

close_btn.addEventListener('click', () => {
	social_panel_container.classList.remove('visible')
});

  </script>
