---
layout: _tokens/_templates/content_1.njk
permalink: /content_1/
page_section: token-templates
titulo: content_1
descripcion: content_1
image: /assets/static/images/content_1.jpg
author: autor
date: 2024-02-02 
tags: ["token-templates"]
imageAlt: content_1
---
<!-- Contenido de la plantilla hero_1.njk -->
{% import "_macros/insert.njk" as insert %}

<section class="bg-color " >
<div class="container  pb-64">
  
      <div class="row    ">
        <div class="col-xs-12 col-sm-6 front-text  align-middle">
          <div class="wmax-450 mx-auto">
            <div class="fluid-5-b mb-24  "> {{ global.content_title | wrapWithDiv | safe }}  </div>
            <div class="fluid-8-r  "> {{ global.content_description  | wrapWithDiv | safe }}  </div>
          </div>
      </div>
  
  
  
      <div class="col-xs-12 col-sm-6 front-text ">
        <img width="100%" src="/assets/static/images/1.jpg" alt="">
      </div>



</div>

</section>