---
layout: base-clean.njk
---
<!-- Contenido de la plantilla content_9.njk -->
{% import "_macros/_insert.njk" as insert %} 


<div class="container pbr-120 inview">
    <div class="row sm:reverse">
      <div class="col-xs-12 col-sm-6 mdmax:mb-40">
        <h3 class="fluid-5-b mb-32">
          {% call insert.splitenpalabras('Di adiós a las malas experiencias para obtener **resultados **excepcionales')
          %} {% endcall %}
        </h3>
        <ul class="list-bullet pb-24">
          <li>Sistema de Notion bien organizado + lista de Google Sheets</li>
          <li>Ruta personalizada</li>
          <li>Recomendaciones de comercio electrónico que no encontrarás en ningún otro lugar</li>
          <li>Consejos rápidos para mejorar la calidad de la tarea</li>
          <li>Actualizaciones de por vida</li>
        </ul>
        <a href="" class="link4"> Consíguelo ahora</a>
      </div>
      <div class="col-xs-12 col-sm-6 mdmax:mb-40">
        <img class="w-100" src="/assets/static/images/checklist.webp" alt="">
      </div>
    </div>
  </div>

