---
layout: base-clean.njk
---
<!-- Contenido de la plantilla content_8.njk -->

{% import "_macros/insert.njk" as insert %}

<div class="container pbr-120 inview">
    <div class="row">
      <div class="col-xs-12 col-sm-6 mdmax:mb-40">
        <img class="w-100 border-20" src="/assets/static/images/libro.webp" alt="">
      </div>
      <div class="col-xs-12 col-sm-6">
        <h3 class="fluid-5-b mb-32">
          {% call insert.splitenpalabras('No pierdas tiempo intentando descubrir las estrategias, las hemos
          **seleccionado **para **ti') %} {% endcall %}
        </h3>
        <p class="p1 mb-24">Después de más de 10 años probando estrategias, hemos reunido todos los secretos del
          comercio
          electrónico.
          Con esta lista de verificación, no solo cumplirás con los requisitos de experiencia de usuario, sino que
          también
          harás que tu sitio de comercio electrónico sea rentable de manera rápida.
        </p>
        <a href="" class="link4"> Descarga la lista de verificación ahora</a>
      </div>
    </div>
  </div>


