---
layout: base-clean.njk
---
<!-- Contenido de la plantilla content_6.njk -->
{% import "_macros/insert.njk" as insert %}


<div class="container mb-64 inview">
    <div class="box-image bg-dark p-32">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <p class="p1">Empieza Ahora</p>
          <h3 class="fluid-7-b mb-32">
            {% call insert.splitenpalabras('Convierte conversaciones en ventas: Inicia hoy mismo tu estrategia de
            **WhatsApp **Marketing y **potencia **tu **negocio.') %} {% endcall %}
          </h3>
          <div class="btn btn-secondary">Unirme ahora</div>
        </div>
        <div class="col-xs-12 col-sm-6  p-relative"> <img src="/assets/static/images/personia.webp" alt=""> </div>
      </div>
    </div>
  </div>