---
layout: _tokens/_templates/content_10.njk
permalink: /content_10/
page_section: token-templates
titulo: content_10
descripcion: content_10
image: /assets/static/images/content_10.jpg
author: autor
date: 2024-02-02 
tags: ["token-templates"]
imageAlt: content_10
---
<!-- Contenido de la plantilla content_9.njk -->
{% import "_macros/insert.njk" as insert %} 

<div class="bg-light ptr-120 pbr-120 ">
    <div class="container-5 text-center inview">
      <div class="row mb-64">
        <div class="col-xs-12">
          <div class="fluid-5-b mb-24">
            {% call insert.splitenpalabras('¿Para quién es **Boilerplate?') %} {% endcall %}
          </div>
          <div class="fluid-9-r mb-24">
            Sirve para cualquier tipo de sector:
          </div>
        </div>
      </div>
      <div class="row mb-64">
        <div class="col-xs-6 col-sm-3 smmax:mb-16">
          <div class="mb-24"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <title>tshirt-54</title>
              <g stroke-linecap="square" stroke-linejoin="miter" stroke-width="1" transform="translate(0.5 0.5)"
                fill="none" stroke="#212121" stroke-miterlimit="10">
                <line x1="5" y1="13" x2="5" y2="10"></line>
                <line x1="19" y1="13" x2="19" y2="10"></line>
                <path d="M16,1c0,2.2-1.8,4-4,4 S8,3.2,8,1H4C2.3,1,1,2.3,1,4v9h4v10h14V13h4V4c0-1.7-1.3-3-3-3H16z">
                </path>
              </g>
            </svg></div>
          <div class="h3 mb-16">Productos Físicos</div>
          Muebles, ropa, complementos, alimentos, accesorios, etc...
        </div>
        <div class="col-xs-6 col-sm-3  smmax:mb-16">
          <div class="mb-24"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <title>cloud-mining</title>
              <g stroke-linecap="square" stroke-linejoin="miter" stroke-width="1" transform="translate(0.5 0.5)"
                fill="none" stroke="#212121" stroke-miterlimit="10">
                <circle cx="3" cy="21" r="2" stroke="#212121"></circle>
                <circle cx="12" cy="21" r="2" stroke="#212121"></circle>
                <circle cx="21" cy="21" r="2" stroke="#212121"></circle>
                <line x1="12" y1="19" x2="12" y2="14" stroke-linecap="butt" stroke="#212121"></line>
                <polyline points="19.586 19.586 17 17 17 14" stroke-linecap="butt" stroke="#212121"></polyline>
                <polyline points="4.414 19.586 7 17 7 14" stroke-linecap="butt" stroke="#212121"></polyline>
                <path
                  d="M18.5,5a4.448,4.448,0,0,0-.822.083,5.99,5.99,0,0,0-11.356,0A4.448,4.448,0,0,0,5.5,5a4.5,4.5,0,0,0,0,9h13a4.5,4.5,0,0,0,0-9Z">
                </path>
              </g>
            </svg></div>
          <div class="h3 mb-16">Productos Digitales</div>
          Infoproductos, afiliación, ebooks, membresías, software, etc...
        </div>
        <div class="col-xs-6 col-sm-3">
          <div class="mb-24"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <title>miner</title>
              <g stroke-linecap="square" stroke-linejoin="miter" stroke-width="1" transform="translate(0.5 0.5)"
                fill="none" stroke="#212121" stroke-miterlimit="10">
                <path d="M21,12c0,7.071-5.071,11-9,11S3,19.071,3,12"></path>
                <line x1="1" y1="12" x2="23" y2="12" stroke="#212121"></line>
                <circle cx="12" cy="10" r="2" stroke="#212121"></circle>
                <path d="M2,12V11a10,10,0,0,1,20,0v1" stroke="#212121"></path>
                <polyline points="12 2 12 1 12 4" stroke="#212121"></polyline>
              </g>
            </svg></div>
          <div class="h3 mb-16">Oficios Físicos</div>
          Abogados, masajistas, tiendas físicas, fisios, restaurantes, etc...
        </div>
        <div class="col-xs-6 col-sm-3">
          <div class="mb-24"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <title>l-system-update</title>
              <g stroke-linecap="square" stroke-linejoin="miter" stroke-width="1" transform="translate(0.5 0.5)"
                fill="none" stroke="#212121" stroke-miterlimit="10">
                <line x1="19" y1="13" x2="19" y2="22" stroke-linecap="butt" stroke="#212121"></line>
                <polyline points=" 22,19 19,22 16,19 " stroke="#212121"></polyline>
                <path d="M3,14V4 c0-0.552,0.448-1,1-1h16c0.552,0,1,0.448,1,1v5"></path>
                <path d="M12,18H1v0 c0,1.657,1.343,3,3,3h8"></path>
              </g>
            </svg></div>
          <div class="h3 mb-16">Servicios Digitales</div>
          Coach, consultorías, freelancers, entrenadores personales, etc...
        </div>
      </div>
    </div>
  </div>