---
layout: _tokens/_templates/content_3.njk
permalink: /content_3/
page_section: token-templates
titulo: content_3
descripcion: content_3
image: /assets/static/images/content_3.jpg
author: autor
date: 2024-02-02 
tags: ["token-templates"]
imageAlt: content_3
---
<!-- Contenido de la plantilla hero_1.njk -->
{% import "_macros/insert.njk" as insert %}

<section class="bg-color inview ">
  <div class="container  pb-64">
    <div class="row sm:reverse   ">
      <div class="col-xs-12 front-text mb-40  border-20">
        <img class="border-20" width="100%" src="/assets/static/images/person3.jpg" alt="">
      </div>
      <div class="col-xs-12  front-text  align-middle">
        <div class="fluid-6-b mb-24  ">
          {% call insert.splitenpalabras(  global.content_description  ) %} {% endcall %}
        </div>
      </div>
    </div>
</section>