---
layout: base-clean.njk
---
<!-- Contenido de la plantilla hero_2.njk -->

{% import "_macros/_insert.njk" as insert %}

<div class="container-5 text-center">
    <div class="row align-center">
      <div class="grid-3 pt-24 pb-64">
        <div class="text-v text-18-r script "><img src="/assets/static/images/rating-1.webp" alt=""> En 20 minutos
          estaba
          facturando</div>
        <div class="text-v  text-18-r  script "><img src="/assets/static/images/rating-1.webp" alt=""> Tenia muchos
          seguidores
          pero nada</div>
        <div class="text-v   text-18-r script  "> <img src="/assets/static/images/rating-1.webp" alt=""> El
          acompañamietno es
          increible</div>
      </div>
    </div>
    <div class="row inview">
      <div class="col-xs-12">
        <div class="fluid-5-b mb-24"> {% call insert.splitenpalabras('¿Estás listo para convertir tu tráfico en **ganancias?') %} {% endcall %}
        </div>
        <div class="fluid-9-r mb-24">
          ¿Estás buscando aumentar la tasa de conversión de tu sitio web de comercio electrónico? ¿No tienes tiempo para
          descubrir las tácticas por ti mismo? Si es así, podemos ayudarte. Nuestra lista de verificación de comercio
          electrónico creada con Notion + Google Sheets es una gran herramienta para simplificar tu vida. Contiene todas
          las
          tácticas que deberías utilizar para aumentar tus ingresos. ¡Pruébalo, es gratis!
        </div>
        <div class="btn btn-primary mb-24"> Obtén la lista de verificación ahora</div>
        <p class="p1 c-gray mb-24"> 14 días de garantía de devolución | Sin Permanencia
        </p>
        <div class="is-flex content-center align-middle mb-64
        ">
          <div> Excelente</div>
          <div> <img class="w-100" src="/assets/static/images/start.webp" alt=""> </div>
        </div>
      </div>
    </div>
    <div class="row align-center">
      <div class="sm:grid-3 pt-24 pb-64">
        <div class="text bullet pb-24">No requiere experiencia previa</div>
        <div class="text bullet pb-24">Formación actualizada</div>
        <div class="text bullet pb-24">Soporte 100% en Español</div>
      </div>
    </div>
  </div>