---
layout: _tokens/_templates/hero_5.njk
permalink: /hero_5/
page_section: token-templates
titulo: hero_5
descripcion: hero_5
image: /assets/static/images/hero_5.jpg
author: autor
date: 2024-02-02 
tags: ["token-templates"]
imageAlt: hero_5
---
<!-- Contenido de la plantilla hero_1.njk -->
{% import "_macros/insert.njk" as insert %}


<section class=" herohome inview  o-hidden  bg-dark has-light bg-geometric ">
    <div class=" container mx-auto ">
        <div class="row section-x height-full  align-middle  ">


            <div class="col-xs-12 col-md-7 mb-24">
                <div class="vertical-wrap ">
                    <div class="vertical-inner">
                        <h1 class="fluid-3-b ">
                            {% call insert.splitenpalabras(global.introCta_title ) %} {% endcall %}
                        </h1>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-7  front-text ">
                <div class="vertical-wrap-2 pb-24 ">
                    <div class="vertical-inner">
                        <h2 class="fluid-8-r mb-8">
                            {% call insert.splitenpalabras( global.introCta_description ) %} {% endcall %}
                    </div>
                </div>
                <button type="button" class="btn-primary   btn mb-32"><span
                        class="btn--icon-text c-primary fluid-9-b">{{global.introCta_cta}} </span>
            
                </button>
                <div class="content-middle mb-16">
                    <div class="fluid-9-b">Excelente</div>
                    <img width="100px" class=""
                        src="https://storage.googleapis.com/landing-strapi-v4/assets/svg/stars-giFRggf5fPfNiJXB7To2fd.svg"
                        loading="lazy" alt="estrellas de Truspilot" height="100%" width="100%"
                        srcset="https://storage.googleapis.com/landing-strapi-v4/assets/svg/stars-giFRggf5fPfNiJXB7To2fd.svg">
                </div>
                <div>Valoración: <span class="text-bold"> 4,4 </span>/ de <span class="text-bold">1.200 </span>reseñas en Trustpilot</div>
                <div class="vertical-wrap">
                    <div class="vertical-inner">
                        <span class="text-14-r">
                            {{ fecha }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>