---
layout: base-clean.njk
permalink: /team_1/
page_section: token-templates
titulo: team_1
descripcion: team_1
image: /assets/static/images/team_1.jpg
author: autor
date: 2024-06-08 
tags: ["token-templates"]
imageAlt: team_1
---
<!-- Contenido de la plantilla team_1.njk -->
{% import "_macros/insert.njk" as insert %}


<div class="container-2">
    <div class="row  text-center pb-64">
        <div class="col-xs-12 mb-24">
            <div class="fluid-9-b accent">Nuestro Equipo </div>
            <div class="fluid-5-r accent">Planes para nuestros socios </div>
        </div>
        <div class="col-xs-12">
            <span class="text-16-r">
                Elige tu plan adaptado a las necesidades de tu negocio. El plan básico
                está pensado para medianas- pequeñas clínicas y el plan vip está
                creado para clínicas de grandes dimensiones.
            </span>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-4">
            <img width="100%" src="/assets/static/images/personia.webp" alt="">
            <div class="pt-16">
                <div class="text-14-b">
                    Puesto
                </div>
                <div class="fluid-9-r">
                    Nombre apellido
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <img width="100%" src="/assets/static/images/personia.webp" alt="">
            <div class="pt-16">
                <div class="text-14-b">
                    Puesto
                </div>
                <div class="fluid-9-r">
                    Nombre apellido
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <img width="100%" src="/assets/static/images/personia.webp" alt="">
            <div class="pt-16">
                <div class="text-14-b">
                    Puesto
                </div>
                <div class="fluid-9-r">
                    Nombre apellido
                </div>
            </div>
        </div>
    </div>
</div>